<!--[if lt IE 10]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="preloader"></div>

<!-- Navigation Menu Starts -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="simplify Logo" title="Logo"></a>
    </div> <!-- navbar header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#header">Home</a></li>
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#servicos">Serviços</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </div>  <!-- /.navbar-collapse -->
  </div>  <!-- /.container -->
</nav> <!-- Navigation Menu Ends -->

<!-- Header start -->
<header id="header">
  <canvas id="canvas"></canvas>
  <div class="inner-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="header-content">

            <span>Olá, nosso site em breve...</span>

            <div class="scroll-icon">
              <a href="#sobre"><i class="icofont icofont-scroll-bubble-down"></i></a>
            </div> <!-- scroll-icon -->

          </div> <!-- header-content -->
        </div> <!-- col-md-12 -->
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- inner-header -->
</header>
<!-- End Header -->
